// Place all the styles related to the mobileApp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body,p,div,span,h1,h2,h3,h4,h5,h6,a,img,input,ul,ul li,textarea{
	margin:0px;
	padding:0px;
}
ul li,li{
	list-style:none;
}
input,textarea{
	border:none;
}
img {
	border:0px;
}
a{
	display:block;
	text-decoration:none;
}
textarea{
  resize:none;
}
.background-red{
	background-color:#e75836;
}
.background-yellow{
	background-color:#f9c426;
}
.background-green{
	background-color:#2fc981;
}
.text-right{
	text-align:right;
}
.text-center{
	text-align:center;
}
.text-left{
	text-align:left;
}
.pull-left{
	float:left;
}
.pull-right{
	float:right;
}
.header{
	width:100%;
	height:45px;
	border-bottom:1px solid #bdbdbd;
  background:#FFF;
}
.header .serach{
	width:231px;
	height:27px;
	border-radius:3px;
	background:#f1edea;
	float:left;
	text-align:center;
	background-image:asset-url('mobile_app/serach.png');

	background-size:14px 14px;
	background-position:20% 50%;
	background-repeat:no-repeat;
	color:#919096;
	margin-top:9px;
	margin-left:30px;
}
.header .email{
	display:block;
	width:20px;
	height:16px;
	float:right;
	margin-top:15px;
	margin-right:15px;	
}
.header .return{
	display:block;
	width:20px;
	height:16px;
	float:left;
	margin-top:15px;
	margin-left:15px;	
}
.header .avatar{
	display: block;
	width:30px;
	height:30px;
	float:right;
	margin-top:8px;
	margin-right:15px;
	border-radius:30px;
}
.header .email img, .header .return img{
	vertical-align:top;
	width:100%;
}
.header-ttl{
	margin-right:50px;
	margin-left:50px;
	text-align:center;
	line-height:45px;
}
.recipes-list{
	border-bottom:1px solid #dedddb;
	margin-bottom:152px;
}
.recipes-list li{
	overflow:hidden;
	padding-top:10px;
	padding-bottom:10px;
	width: 96%;
	border-bottom:1px dashed #d2d2d2;
	margin:0 auto;
}
.recipes-list li a{
	overflow:hidden;
}
.recipes-list li .recipes-list-img{
	width:101px;
	height:50px;
}
.recipes-list li h4,.recipes-list li h4 small{
    display:block;
}
.recipes-list li h4{
    line-height:24px;
    color:#131313;
    width:100%;
    overflow:hidden;
    text-overflow: ellipsis;
}
.recipes-list li h4 small{
	color:#8d8d8d;
}
.recipes-list li:last-child{
	border-bottom:none;
}
.recipes-list li .pull-right{
    width:65%;
}
.season{
	width:96.7%;
	padding-top:10px;
	background-color:#f1edea;
	border-top:1px solid #d2d2d2;
	padding-left:3.3%;
	overflow:hidden;
	padding-bottom:10px;
	position: fixed;
	bottom:0px;
	height:132px;
}
.season h3{
	color:#878787;
	font-size:16px;
}
.season ul li{
	width:30%;
	float:left;
	text-align:center;
	margin-right:3.3%;
	margin-top:10px;
}
.season ul li a{
	border:1px solid #d8d7d5;
	background-color:#FFF;
	border-radius:3px;
	display:block;
	padding-top:10px;
	padding-bottom:10px;
	color:#2d2d2d;
}
.moments{
	overflow:hidden;
	text-align:center;
}
.moments li{
	/*width:60px;*/
	display:inline-block;
	margin:10px 4%;
	font-size:16px;
}
.moments li img{
	width:60px;
	height:60px;
	margin-bottom:5px;
}
.moments li span{
	display:block;
	font-size:16px;
	white-space:nowrap;
}
.moments li a{
	color:#1d1d1d;
}
.moments li span small{
	color:#818181;
	font-size:14px;
	padding-top:5px;
	display:block;
}
.hot-activity{

}
.hot-activity .ttl{
	overflow:hidden;
	background-color:#f1edea;
	border-bottom:1px solid #d2d0d1;
	padding:10px 5px;
}
.hot-activity .ttl .pull-right{
	color:#ff4e62;
}
.hot-activity .ttl .pull-left{
	color:#8b8b8d;
}
.hot-activity ul li{
	padding-top:15px;
	padding-bottom:15px;
	border-bottom:1px dashed #dedede;
	width:96%;
	margin:0 auto;

}
.hot-activity ul li span{
	display:inline-block;
	padding:3px 5px;
	margin-right:3%;
	color:#FFF;
	border-radius:3px;
}
.hot-activity li a{
	overflow:hidden;
	text-overflow:ellipsis;
	color:#1b1b1b;
}
.third{
	text-align: center;
	font-size:14px;
	font-weight:bold;
}
.third a{
	display:inline-block;
	margin:30px 5%;
	color:#363533;
}
.third a img{
	vertical-align:top;
	width: 50px;
	height: 50px;
	margin-bottom:10px;
}
.or{
	width:90%;
	height:1px;
	background-color:#d6d2cf;
	position:relative;
	margin:0 auto;
}
.or span{
	display:block;
	width:50px;
	height:20px;
	position:absolute;
	left:50%;
	margin-left:-25px;
	margin-top:-10px;
	background-color:#f1edea;
	text-align:center;
	color:#cecece;
}
.form-login{
	width:94%;
	margin:0 auto;
	margin-top:30px;
}
.form-login .input-text{
	width:100%;
	height:43px;
	color:#cbcad0;
	border:1px solid #ddd;

	margin-top:3px;
	text-indent:20px;
}
.forget-pwd{
	line-height:50px;
	color:#ff3347;
	padding-right:5%;
}
.form-login .btn input{
	display:block;
	width:100%;
	height:40px;
	text-align: center;
	background-color:#FFF;
	line-height:40px;
	background-color:#ff3b4f;
	color:#fff;
	border-radius:3px;
}
.form-login .btn{
	width:90%;
	margin:0 auto;
	display:block;
}
.form-login .reg{
	color:#ff3347;
	line-height:50px;
	text-align:center;
}
.recipes-info-ttl{
	padding-top:15px;
	padding-bottom:15px;
	line-height:20px;
}
.recipes-info-txt{
	line-height:20px;
	padding:10px;
	padding-bottom:20px;
	color:#999;
	font-weight:normal!important;
}
.recipes-info-txt strong{
	font-weight:normal!important;
}
.recipes-info-txt img{
	width:100%;
	vertical-align:top;
}
.nodes_topic{
  width:94%;
  margin:0 auto;
  margin-top:5px;
}

.nodes_topic li{
  width:96%;
  background:#FFF;
  margin-bottom:10px;
  padding:2%;
  border-radius:3px;
  box-shadow:2px 2px 2px rgba(0,0,0,0.1);
  overflow:hidden;
}
.nodes_topic li a{
  overflow:hidden;
  padding-top:10px;
  padding-bottom:10px;
  border-bottom:1px solid #dedede;
}
.nodes_topic li a span{
  display:block;
  // width:70%;
  overflow: hidden;
  text-overflow:ellipsis;
  float:left;
  color:#212121;
}
.nodes_topic li a small{
  display:block;
  width:30%;
  text-align:right;
  color:#d4d4d4;
}
.reply_num{
  width:94%;
  margin:0 auto;
  line-height: 30px;
  font-size:16px;
  color:#000;
  border-top:1px solid #dedded;
  border-bottom:1px solid #dedded;
}
.topic_replies{
  width: 94%;
  margin:0 auto;
  border-bottom:1px solid #dedede;
  padding-top:10px;
  padding-bottom:10px;
  overflow: hidden;
}
.topic_replies .username{
  color:#000;
  font-size:12px;
  font-weight:normal;
}
.topic_replies .topic_replies_txt{
  line-height:20px;
  font-size:14px;
  color:#3f3f3f;
  padding-top:5px;
  overflow:hidden;
}
.topic_replies .topic_replies_time{
  font-size: 12px;
  color:#8b8a8b;
  display: block;
  margin-top:5px;
}
.replies_textarea{
  width:95%;
  height:100px;
  border:1px solid #dedede;
  margin:10px auto;
  float:right;
  border-radius:3px;
  padding:2%;
}
.replies_btn{
  width:50px;
  height: 30px;
  background:#e76070;
  float:right;
  color: #FFF;
}
.replies_input{
  width:99%;
  height:30px;
  border:1px solid #dedede;
  margin:10px auto;
  float:right;
  border-radius:3px;
  text-indent: 2%;
}

.user{
  overflow:hidden;
  margin:0 auto;
  margin-top:10px;
}
.user_avatar{
  width: 26px;
  height: 26px;
  vertical-align:middle;
  // margin-top:3px;
  margin-right:10px;
}

.user small{
  font-size:10px;
  color: #e76070;
}
.user h5{
  font-size:10px;
  color:#585858;
  font-weight:normal;
}
#error_explanation, .error_messages{
  padding-top:10px;
  width: 94%;
  margin:0 auto;
  font-size:12px;
  line-height: 20px;
}
.reply_count{
  display: inline-block;
  height:20px;
  line-height: 20px;
  padding:0px 10px;
  // background:#e2e2e2;
  color:#e76070;
  font-size:12px;
  // border-radius:20px;
  margin-top:5px;
}
.reply_count img{
  width: 15px;
  height:15px;
  vertical-align:middle;
  margin-top:-2px;
  margin-right:5px;
}
.session_error{
  text-align:center;
}
.session_error a{
  display: inline;
  color:#e76070;
}
.notice{
  width:100%;
  height:30px;
  line-height:30px;
  background:#FD7888;
  position: fixed;
  top:0px;
  left:0px;
  color:#FFF;
  text-indent: 10px;
  display:none;
}
.user_wrap{
	line-height:30px;
	color: #898787;
}
.user_wrap h4{
	font-weight:normal;
	font-size:24px;
	color:#000;
}
.user_wrap .big_avatar{
	margin:10px;
	width:50px;
	height:50px;
}